:root {
	--text-color: white;
	--surface-color: rgba(255, 255, 255, 0.1);
	--surface-color-hover: rgba(255, 255, 255, 0.05);
	--highlight-color: rgba(255, 255, 255, 0.2);
	--stroke-color: rgba(255, 255, 255, 0.5);
	--background-body-mobile: url(./assets/bg-mobile.jpg);
	--background-body-desktop: url(./assets/bg-desktop.jpg);
}

.light {
	--text-color: black;
	--surface-color: rgba(0, 0, 0, 0.05);
	--surface-color-hover: rgba(0, 0, 0, 0.02);
	--highlight-color: rgba(0, 0, 0, 0.1);
	--stroke-color: rgba(0, 0, 0, 0.5);
	--background-body-mobile: url(./assets/bg-mobile-light.jpg);
	--background-body-desktop: url(./assets/bg-desktop-light.jpg);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
	color: var(--text-color);
}

body {
	background: var(--background-body-mobile) no-repeat top center/cover;
	height: 100vh;
}

@media screen and (min-width: 728px) {
	body {
		background: var(--background-body-desktop) no-repeat top center/cover;
	}
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 360px;
	margin: 56px auto 0 auto;
}

.profile {
	padding: 24px;
}

.profile p {
	margin-top: 8px;
	font-size: 16px;
	line-height: 24px;
	font-weight: 500;
	text-align: center;
}

.profile-picture {
	display: inline-block;
	width: 112px;
	height: 112px;
	border-radius: 50%;
	overflow: hidden;
	position: relative;
}
.profile-picture::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border-radius: 50%;
	border: 2px solid var(--stroke-color);
}

.profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#switch {
	position: relative;
	width: 64px;
	height: 24px;
	background-color: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 12px;
	margin-bottom: 16px;
	cursor: pointer;
}

#switch button {
	all: unset;
	cursor: pointer;
	position: absolute;
	left: -2%;
	top: 50%;
	transform: translateY(-50%);
	width: 32px;
	height: 32px;
	background-color: white;
	border-radius: 50%;
	background-image: url("./assets/sun.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px;
	border: none;
	transition: all 0.3s ease;
}

.light #switch button {
	left: 50%;
	background-image: url("./assets/moon-stars.svg");
}

.links_navigation {
	width: 100%;
	text-align: center;
	padding: 0 24px;
}

.links_navigation li {
	list-style: none;
	margin-bottom: 16px;
	background-color: var(--surface-color);
	border: 1px solid var(--stroke-color);
	border-radius: 8px;
	line-height: 24px;
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	transition: background 0.2s, border 0.2s;
}

.links_navigation li:hover {
	background-color: var(--surface-color-hover);
	border: 1.5px solid var(--text-color);
}

.links_navigation a {
	display: block;
	font-size: 16px;
	text-decoration: none;
	font-weight: 500;
	padding: 16px 24px;
}

.social {
	display: flex;
	gap: 8px;
	margin-top: 8px;
	padding: 24px 0;
	font-size: 24px;
}

.social a {
	padding: 16px;
	height: 56px;
	border-radius: 50%;
	transition: background 0.2s;
}

.social a:hover {
	background-color: var(--highlight-color);
}

footer {
	padding: 24px 0;
	color: var(--text-color);
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
}

#switch:hover ~ .profile .profile-picture {
	opacity: 0;
	transition: opacity 0.3s;
}
